#contact{
    margin-top: 50px;
}
#heading {
    font-size: 50px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 70px;
}

.c-main {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
}

.color {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 136.28%);
    -webkit-background-clip: text;
    color: transparent;
}

.opentowork{
    margin-top: 30px;font-size: 18px;line-height: 32px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.icon img {
    width: 60px;
}

.icon {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.icon p {
    margin-left: 30px;
    font-size: 18px;
}

.icon a {
    color: white;
    text-decoration: none;
}