#contact {
    margin-top: 20px;
    text-align: center;
}

.c-main {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
}

.color {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 136.28%);
    -webkit-background-clip: text;
    color: transparent;
}

.opentowork {
    margin-top: 30px;
    font-size: 18px;
    line-height: 32px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 50px;
}

.icon {
    margin-bottom: 10px;
    white-space: nowrap;
}

.icon img {
    width: 40px;
}

.icon-link {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s ease;
}


.icon-link:hover {
    transform: scale(1.03);
    border: 2px solid pink;
    border-radius: 15px;
    background: linear-gradient(264deg, #3b2a18 0%, #4a1d1d 100%);
}
@media screen and (max-width:768px){
    .opentowork{
        font-size: 13px;
    }
}
@media screen and (max-width:425px) {
    .icons {
        display: initial;
    }
    .icon-link p{
        font-size: 15px;
    }
    .icon img{
        width: 30px;
    }

    .color {
        font-size: 30px;
    }

    .c-main {
        width: 90%;
        text-align: justify;
    }

    .opentowork {
        margin-top: 15px;
        font-size: 13px;
        line-height: 25px;
    }
}

@media screen and (max-width:321px) {
    .opentowork {
        font-size: 13px;
        line-height: 25px;
    }
    .icon-link p{
        font-size: 13px;
    }
    .icon img{
        width: 25px;
    }
}