@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    margin: 15px;
    color: red;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.button button {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    margin-right: 10px;
}

.button a {
    color: white;
    text-decoration: none;
}

.menu,
.menu-btn {
    display: none;
}

.menu {
    position: absolute;
    margin-top: 240px;
    background: #000000a1;
    right: 0;
    padding: 10px;
    width: 40%;
    margin-right: 50px;
}

.menu-btn img {
    width: 30px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-top: 10px;
    margin: 20px 5px;
}

.menu ul a {
    text-decoration: none;
    color: white;
}

.menu.open {
    display: flex;
}

@media screen and (max-width:768px) {
    .logo {
        font-size: 25px;
        white-space: nowrap;
    }

    .nav ul {
        gap: 15px;
    }

    .button button {
        padding: 10px 20px;
    }
}

@media screen and (max-width:425px) {
    .button {
        display: none;
    }

    .nav ul {
        display: none;
    }

    .menu-btn {
        display: initial;
        padding-right: 15px;
    }
}
@media screen and (max-width:320px){
    .logo{
        font-size: 20px;
    }
}