@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    margin: 15px;
    color: red;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.button button {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 .36%, #B923E1 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    margin-right: 10px;
}

.button a {
    color: white;
    text-decoration: none;
}