* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
}

.image img {
    width: 400px;
}

.name .color {
    text-align: center;
    margin-top: 15px;
    font-size: 55px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 136.28%);
    -webkit-background-clip: text;
    color: transparent;
}

.color span {
    color: white;
}

.name p {
    font-size: 15px;
    width: 60%;
    font-weight: 500;
    text-align: center;
    margin: 0px auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.buttons a {
    color: white;
    text-decoration: none;
}

.first {
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.second {
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.second:hover {
    border: 2px solid #DF8908;
}

@media screen and (max-width:1024px) {
    .name .color {
        font-size: 45px;
    }

    .image img {
        width: 350px;
    }
}

@media screen and (max-width:768px) {
    .image img {
        width: 300px;
    }

    .image {
        margin-left: 10px;
    }

    .name .color {
        font-size: 40px;
    }

    .name p {
        padding: 0px 20px;
        width: 100%;
        margin: 0px;
    }

    .first {
        padding: 20px 25px;
    }

    .second {
        padding: 20px 45px;
    }
}

@media screen and (max-width:425px) {
    .main {
        display: initial;
    }

    .second {
        padding: 20px 25px;
    }

    .first {
        padding: 20px 10px;
    }
}

@media screen and (max-width:320px) {
    .image img{
        width: 250px;
    }
    .name .color{
        font-size: 35px;
    }
    .name p{
        font-size: 13px;
    }
    .first,
    .second {
        padding: 8px 12px;
        margin-right: 5px;
    }

    .first a,
    .second a {
        font-size: 12px;
    }

    .first,
    .second {
        white-space: nowrap;
    }
}