* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
}

.image img {
    width: 400px;
}

.name .color {
    text-align: center;
    margin-top: 15px;
    font-size: 55px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 136.28%);
    -webkit-background-clip: text;
    color: transparent;
}

.color span {
    color: white;
}

.name p {
    font-size: 15px;
    width: 60%;
    font-weight: 500;
    text-align: center;
    margin: 0px auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.buttons a {
    color: white;
    text-decoration: none;
}

.first {
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.second {
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.second:hover {
    border: 2px solid #DF8908;
}