#service{
    text-align: center;
}
.box {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0px auto;
    width: 23%;
    margin-top: 30px;
    padding: 15px;
    padding-top: 30px;
}

.colors {
    font-size: 30px;
    margin: 15px 0px;
    font-weight: 600;
    background: linear-gradient(264deg, #DF8908 55.09%, #B415FF 156.28%);
    -webkit-background-clip: text;
    color: transparent;
}

#tagline {
    font-size: 18px;
    margin-bottom: 30px;
}

.anchor-div {
    margin-bottom: 30px;
}

.anchor-div a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.box {
    transition: .3s ease;
}

.box:hover {
    background: linear-gradient(264deg, #3b2a18 0%, #4a1d1d 100%);
    transform: scale(1.03);
    border-color: rgb(255, 0, 208);
}
#service{
    margin-top: 20px;
}

@media screen and (max-width:1024px) {
    .box {
        width: 30%;
    }
}

@media screen and (max-width:768px) {
    .box {
        width: 40%;
    }
}

@media screen and (max-width:425px) {
    #heading {
        font-size: 45px;
        font-weight: bold;
    }
    .colors{
        margin: 10px 0px;
        font-size: 20px;
    }
    #tagline, span{
        font-size: 13px;
    }

    .box {
        width: 70%;
    }
}